<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{% if page.title == "Home" %}
		  {{ site.title }} {{ site.tagline }}
		{% else %}
		  {{ page.title }} | {{ site.title }}
		{% endif %}
	</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="shortcut icon" href="/source/images/favicon.ico" />

	<link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
	<link rel="stylesheet" href="{{ site.github.url }}/css/syntax.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <script type="text/javascript" async
    	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  	</script>

  	{% include analytics.html %}
<!--<![endif]-->

<!--
 __  __     ______     ______     __  __     __     ______     __     ______     __   __     ______    
/\ \_\ \   /\  __ \   /\  __ \   /\_\_\_\   /\ \   /\  __ \   /\ \   /\  __ \   /\ "-.\ \   /\  ___\   
\ \  __ \  \ \  __ \  \ \ \/\ \  \/_/\_\/_  \ \ \  \ \ \/\_\  \ \ \  \ \  __ \  \ \ \-.  \  \ \ \__ \  
 \ \_\ \_\  \ \_\ \_\  \ \_____\   /\_\/\_\  \ \_\  \ \___\_\  \ \_\  \ \_\ \_\  \ \_\\"\_\  \ \_____\ 
  \/_/\/_/   \/_/\/_/   \/_____/   \/_/\/_/   \/_/   \/___/_/   \/_/   \/_/\/_/   \/_/ \/_/   \/_____/ 
                                                                                                       
http://ascii.mastervb.net/text_to_ascii.php   sub_zero
 -->
</head>
