<div class="menu">
  <div class="menu-content">
    {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
    <a class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}" href="{{ site.github.url }}/{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="social-icons">
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.qq %}
       <a href="tencent://message/?uin={{site.author.qq}}"><i class="fa fa-qq" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
  </div>
</div>
